{
    "plugins": ["prettier-plugin-tailwindcss"],
    "semi": false,
    "singleQuote": true,
    "trailingComma": "all",
    "rules": {
        "no-unused-vars": "off",
        "@typescript-eslint/no-unused-vars": "error"
      }
}